elpa/
emojis/
emacs-backup/
auto-save-list/
recentf
.env
.org-id-locations
eshell/
projectile-bookmarks.eld
games/
semanticdb/
speed-type/
url/
eww-bookmarks
transient/
.mc-lists.el
straight/
.cache/
.tern-port
.lsp-eslint-choices
.lsp-session-v1
tramp
.dap-breakpoints